@import url(./__item/photo-grid__item.css);
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  margin: 5.75em auto;
  width: 92.5%;
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(22.1875%, 1fr));
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-gap: 0.875em;
    width: 90.8%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    grid-gap: 1em;
    margin: 5.5em auto;
    width: 93.75%;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    grid-gap: 0.75em;
    margin: 4em auto;
    width: 90%;
  }
}