.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    max-width: 360px;
    top: calc(36% + 2*72px + 32px);
    left: auto;
    position: absolute;
    z-index: 1;
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        top: calc(30% + 2*72px + 32px);
    }
}

@media (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        top: calc(18% + 2*32px + 16px);
        max-width: 84.9%;
    }
}

.cover__subtitle:hover ~ .cover__overlay {
    background: #2A2C2F;
    opacity: 0.8;
    cursor: pointer;
}