.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
}

@media (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.62;
    }
}

@media (max-width: 767px) {
    .place__paragraph:last-of-type {
        padding: 1.5em 0 3em 0;
    }
    .place__paragraph {
        width: 90%;
        margin: 0 auto;
    }
}