.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0;
    justify-self: end;
}

@media (max-width: 767px) {
    .footer__copyright {
        line-height: 1;
        margin: 3.428em 0 1.714em 0;
    }
}