@import url(./__title/intro__title.css);
@import url(./__button/intro__button.css);
.intro {
    background-image: url(../../images/man.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(2, max-content);
    padding: 10% 5% 10% 50%;
    grid-row-gap: 10%;
    width: 90%;
    
}