.cover__text {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-gap: 32px;
    position: absolute;
    top: 36%;
    left: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__text {
        top: 30%;
    }
}

@media (max-width: 767px) {
    .cover__text {
        top: 18%;
        grid-gap: 16px;
    }
}