.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    max-width: 640px;
}

@media (min-width: 1280px) {
    .lead__subtitle {
        padding-top: 1.066em;
        padding-bottom: 2.13em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead__subtitle {
        padding-top: 1.066em;
        padding-bottom: 1.86em;
    }
}

@media (max-width: 767px) {
    .lead__subtitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 1em;
        padding-bottom: 2.5em;
        max-width: calc(100% - 2*1em);
    }
}