.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
}

.place__link:not(:visited) {
    color: #ffffff;
}

.place__link:visited {
    color: #ffffff;
}

.place__link:hover {
    color: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
}