@media (min-width: 1025px) {
  .cover__background {
    width: 92.5%;
    height: 57.8125vw;
    object-fit: cover;
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 1024px) {
  .cover__background {
    width: 100%;
    object-fit: cover;
  }
}