.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    position: absolute;
    max-width: 560px;
    margin-top: 17%;
    z-index: 1;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        margin-top: 14%;
    }
}

@media (max-width: 767px) {
    .cover__title {
        max-width: 80%;
        font-size: 32px;
        line-height: 1.09;
        margin-top: 9%;
    }
}

.cover__title:hover ~ .cover__overlay {
    background: #2A2C2F;
    opacity: 0.8;
    cursor: pointer;
}